
* {
    box-sizing: border-box;
  }
  html,
body {
  height: 100px;
  padding: 10px;
}

body {
  background-color: black;
  color: whitesmoke;
  font-size: 20px;
}
nav {
  margin-top: 0;
  padding: 0;
  text-align: center;
}
h1 {
    color: black;
    margin-bottom: 20px;
    background: url("https://www.hdwallpapers.net/previews/fight-club-quote-562.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  h3 {
    color: red;
  }
  
  
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: auto; 
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  img {
    width: 100%;
    max-width: 700px;
    height: auto;
  }

  form {
    text-align: center;
    padding: 20px;
    min-width: 50%;
    min-height: 50%;
    text-size-adjust: 20px;
  }
  .txt {
    padding: 5px;
  }
  .txt input {
    padding: 7px;
    width: 30%;
    text-align: center;
  }
  .terms {
    color: red;
  }
  

  footer {
    text-align: right;
    color: aliceblue;
    padding-bottom: 30px;
  }
  .btn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
  }
  .btn:hover {
    background: grey;
    color: red;
    font-size: 30px;
  }
  hr{
      width: 100%;
  }
  a{
      color: azure;
  }
  
  @media screen and (max-width: 1340px) {
    .column {
      width: 100%;
      text-align: justify;
    }
  }